.Dictionary section {
  background: #f2f9f1;
  padding: 30px;
  border-radius: 8px;
  margin: 20px 0;
  box-shadow: 5px 5px 10px #b6cdbd;
}
.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #b6cdbd;
  border-radius: 8px;
  color: #364437;
  opacity: 0.9;
}
